   <head>
    <title>Explore</title>
    <link rel="stylesheet" href="../assets/css/explore.css">
    <head>

        <div id="nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4" id="active_nav"><a href="/#!/profile"><i class="icon ion-ios-gear nav-icon"></i>
                         <h4>Settings </h4></a>
                     </div>
                     <div class="col-md-4 col-sm-4 col-xs-4" id="active_nav"> <i class="icon ion-heart nav-icon" id="active_icon"></i>
                         <h4>Love </h4>
                     </div>
                     <div class="col-md-4 col-sm-4 col-xs-4"><a href="#"><i class="icon ion-chatbox-working nav-icon"></i>
                        <h4>Chat </h4></a>
                    </div>
                </div>
                        <hr id="nav-line">
                     <!--{{user}}-->

            </div>
        </div>
    <div class="setting-container">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Find your spark.</h2>
                <p class="text-center">Click once to like, again to unlike. If you both like each other you match ! Don't be afraid to chat :p</p>
            </div>
            <div class="explore_options">
                <label>SORT BY: </label>
                <label class="explore_filter clickable" ng-class="{filter_on:filters.raw_filter}" ng-click="raw_filter()">RAW </label>
                <label class="explore_filter clickable" ng-class="{filter_on:filters.all_filter}" ng-click="all_filter()">ALL </label>
                <label class="explore_filter clickable" ng-class="{filter_on:filters.age_filter}" ng-click="age_filter()">AGE </label>
                <label class="explore_filter clickable" ng-class="{filter_on:filters.friends_filter}" ng-click="friends_filter()">FRIENDS </label>
                <label class="explore_filter clickable" ng-class="{filter_on:filters.liked_filter}" ng-click="liked_filter()">LIKED </label>
            </div>
            <div class="row photos">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item" ng-repeat="thisUser in allUsers
                |filter:all_filter_expression
                |filter:age_filter_expression
                |filter:liked_filter_expression
                |filter:friends_filter_expression
                |orderBy: order_location
                "
                ng-click="likeable(thisUser)">
                    <img ng-src="{{thisUser.picture.data.url}}" class="img-responsive clickable" ng-class="{liked:user.like_bool.indexOf(thisUser.id)!==-1, matched:user.matches.indexOf(thisUser.id)!==-1 }"><span class="label label-default">{{thisUser.first_name}}</span>
                </div>

            </div>
        </div>
    </div>