body {
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:15px;
  line-height:1.42857143;
  color:#ffffff;
  /*background-color:#222222;*/
  background:url(../../assets/img/forest.jpg) no-repeat;
  background-size:cover;
}

a{
  color:#ffffff;
}
a:hover{
  color:#cf6169;
  text-decoration: none;
}
a:active{
  color:#cf6169;
  text-decoration:none;
}

a:focus{
    color:#ffffff;
  text-decoration:none;
}
#active_nav{
  color:#cf6169;
}
label#update.btn.btn-default.btn-file.settings-btn:hover {
  background-color:#87484c;
}

label#update.btn.btn-default.btn-file.settings-btn {
  background-color:#cf6169;
}
#active_icon{
    font-size:40px;
  color:#cf6169;
}
i.icon.nav-icon {
  font-size:40px;
  color:#e0e0e0;
}

i.icon.nav-icon:hover{
  font-size:40px;
  color:#cf6169;
}

div#nav {
  padding-top:20px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2c2c2c;
}

div#top.form-group.row {
  margin-top:30px;
}

.icon-large {
  font-size:2em;
}

div.setting-container {
  max-width:1024px;
  padding:60px 60px;
  margin:0 auto;
  background-color:#2c2c2c;
}
@media (max-width:767px) {
div.setting-container {
  max-width:1024px;
  padding:30px 30px;
  margin:0 auto;
  background-color:#2c2c2c;
}
}
img#profile-img.img-circle {
  margin:auto;
  margin-bottom:30px;
  display:block;
  height:400px;
  width:400px;
}

@media (max-width:767px) {
  img#profile-img.img-circle {
    margin:auto;
    margin-bottom:30px;
    display:block;
    height:200px;
    width:200px;
  }
}

label.btn.btn-default.btn-file.settings-btn {
  border-radius:8px;
  border-color:#fff;
  margin:auto;
  display:block;
  width:70%;
  margin-bottom:20px;
}

label.btn.btn-default.btn-file.settings-btn:hover {
}

i#update-icon.glyphicon.glyphicon-pencil.icon-large {
  float:left;
  padding:10px;
}

.setting-input {
  margin-bottom:10px;
  width:40%;
  margin-left:40%;
}

@media (max-width:991px) {
  .setting-input {
    margin-bottom:0px;
    width:30%;
    margin-left:40%;
  }
}

@media (max-width:767px) {
  .setting-input {
    margin-bottom:0px;
    width:40%;
    margin-left:40%;
  }
}

textarea#about-me.input-lg {
  height:200px;
  width:90%;
}

p#contact-us.text-center {
  margin-top:60px;
}

label.settings-label {
  font-size:18px;
}

@media (max-width:767px) {
  label.settings-label {
    font-size:15px;
    margin-top:8px;
  }
}

div.label-container {
  width:35%;
  text-align:right;
  float:left;
  margin-top:15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color:#f4476b;
  background-color:#2c2c2c;
  cursor:default;
}

body {
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:15px;
  line-height:1.42857143;
  color:#ffffff;
  background-color:#2c2c2c;
  background-size:cover;
}

.nav-tabs.nav-justified {
  max-width:1024px;
  border-bottom:0;
  margin:auto;
}

hr {
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  padding-bottom:1px;
  background-color:#e0e0e0;
  height:0px;
}

div.label_container_small {
  margin-top:10px;
  float:right;
}

div.col-md-3.form_col {
  padding-left:10px;
  padding-right:10px;
  padding-top:0px;
}

div.col-md-1.form_col {
  padding-left:10px;
  padding-right:10px;
  padding-top:0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position:relative;
  min-height:1px;
  padding-left:30px;
  padding-right:30px;
  text-align:center;
}

@media (max-width:767px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
  }
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top:0px;
  margin-bottom:0px;
}

//sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss

