#signup {
  margin-top:100px;
  height:900px;
}

@media (max-width:767px) {
  #signup {
    margin-top:100px;
    height:750px;
  }
}

a.navbar-brand.navbar-link {
  font-size:24px;
}

#signup .container .jumbotron {
  background-color:rgba(255,255,255,0.2);
  max-width:955px;
  margin:0 auto;
}

div#tab-forms {
  background-color:rgba(0,0,0,0);
  position:absolute;
  top:310px;
  left:50%;
  transform:translate(-50%,0);
  padding-top:30px;
  color:#fff;
  width:600px;
}

@media (max-width:767px) {
  div#tab-forms {
    background-color:rgba(0,0,0,0);
    position:absolute;
    top:270px;
    left:50%;
    transform:translate(-50%,0);
    padding-top:30px;
    color:#fff;
    width:600px;
  }
}

.container {
  padding-right:100px;
  padding-left:100px;
  margin-right:auto;
  margin-left:auto;
}

@media (max-width:991px) {
  .container {
    padding-right:50px;
    padding-left:50px;
    margin-right:auto;
    margin-left:auto;
  }
}

div#spacer {
  height:600px;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-right:15px;
  padding-left:15px;
  border-radius:6px;
  padding-bottom:200px;
}

.nav-tabs {
  border-bottom:1px solid #ddd;
  margin-left:0 auto;
}

.navbar-inverse {
  background-color:rgba(225,104,118,0.701961);
  border-color:transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color:#ffffff;
  background-color:#434a52;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color:#1e2833;
  background-color:#ffffff;
  border:1px solid #fff;
  border-bottom-color:transparent;
  cursor:default;
}

body {
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:15px;
  line-height:1.42857143;
  color:#ffffff;
  /*background-color:#222222;*/
  background:url(../../assets/img/88tnht2g1k4-brooke-cagle.jpg) no-repeat;
  background-size:cover;
}

@media (min-width:768px) {
  .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color:#ffffff;
  }
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color:#131314;
  background-color:transparent;
}

.navbar-inverse .navbar-link:hover {
  color:#1f2021;
}

.nav-tabs.nav-justified {
  width:90%;
  border-bottom:0;
  margin:auto;
}
ul.nav.nav-tabs{
  width:90%;
 font-weight: bold;
  margin:auto;
}
div#age.form-group {
  /*width:90px;*/
  /*margin:10px auto;*/
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
  color:#ffffff;
  background-color:#f4476b;
  border-color:#1e2833;
}

button#loginbutton.btn.btn-primary.btn-block {
  color:#ffffff;
  background-color:#cf6169;
  border-color:#cf6169;
}

div.button-padding {
  padding:20px;
}

div.blue-container {
  width:540px;
  padding:60px 100px;
  margin:0 auto;
  background-color:#1e2833;
}

h2.text-center.form-header {
  display:block;
  text-align:center;
  color:#6f7a85;
  opacity:0.9;
  font-size:24px;
}

@media (max-width:767px) {
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#1e2833;
    padding:60px 130px;
    color:#505e6c;
  }
}
.container {
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
  max-width:700px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position:relative;
  min-height:1px;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  padding-top:30px;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top:0px;
  margin-bottom:0px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display:block;
  max-width:100%;
  height:auto;
}

@media (max-width:991px) {
  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display:block;
    max-width:90%;
    height:auto;
  }
}

@media (max-width:767px) {
  .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display:block;
    max-width:35%;
    height:auto;
  }
}

@media (max-width:767px) {
  .col-xs-12 {
    width:250%;
  }
}




